@model IoCTest.DerivedModel

@{
    ViewData["Title"] = "Other";
}

<h1>Other</h1>

<div>
    <h4>DerivedModel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <h1>Configs</h1>
    <h2>Title: @ViewData["Title"]</h2>
    <h2>Privacy: @ViewData["Privacy"]</h2>
    <h2>Name: @ViewData["Name"]</h2>
    <p>@ViewData["Item"]</p>
    <p>@ViewData["Test"]</p>
    <p>@ViewData["Dummy1"]</p>
    <p>@ViewData["Dummy2"]</p>
    <p>@ViewData["Dummy3"]</p>
    <p>@ViewData["Dummy4"]</p>
    <p>@ViewData["Dummy5"]</p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
